node_modules/
.DS_Store
.vscode
dist/
/news.ini
/src/pages/governance
/src/pages/wallet/add.vue
/src/proto
/src/pages/token
/package-lock.json
/yarn.lock
/.project
/debug.log
/package-lock.json
/old-dist
/src/pages/register