.container {
    /* overflow-x: hidden; */
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    height: 100%;
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
}

::selection {
    background: #1D5AA3;
    color: #fff;
}

::-moz-selection {
    background: #1D5AA3;
    color: #fff;
}

::-webkit-selection {
    background: #1D5AA3;
    color: #fff;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

input,
textarea {
    -webkit-user-select: auto;
}

input,
button,
select,
textarea {
    outline: none;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

input,
textarea {
    border: 0;
    -webkit-appearance: none;
    box-shadow: 0;
}

p {
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
}

a {
    color: #007aff;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    left: 15px;
    right: 0;
    bottom: 0;
    width: auto;
    transform: scale(1, 0.5);
    transform-origin: 0 0;
    pointer-events: none;
    border-bottom: 1px solid #e5e5e5;
}

.hash {
    font-family: "Droid Sans Mono", Menlo, Monaco, Consolas, "Courier New",monospace;
}

.hash::-webkit-input-placeholder {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.flex {
    display: flex;
}

.fixed-container {
    padding-top: 42px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pullrefresh-container {
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.f333 {
    color: #333;
}

.f666 {
    color: #666;
}

.f999 {
    color: #999;
}

.fblue {
    color: #1d5aa3;
}

.fyellow {
    color: #f6b330;
}

.nodata {
    height: 100px;
    display: block;
    margin: 30px auto 10px;
}

.default-color {
    color: #fff;
    background-color: #1d5aa3;
}

.yellow-color {
    color: #fff;
    background-color: #f6b330;
}

.warn-color {
    color: #fff;
    background-color: #e51313;
}

/* Toast */
.van-toast--default {
    width: 40vw;
}

.van-toast--default .van-toast__text {
    word-break: break-word;
}

/* button-group */
.input-group {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-top: 24px;
}

.input-group>* {
    margin-bottom: 20px;
}

.input-group button {
    padding: 0;
    height: 42px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.input-group button.default {
    color: #fff;
    background: linear-gradient(270deg, rgba(0, 76, 160, 1) 0%, rgba(87, 180, 240, 1) 100%);
}

.input-group button.yellow {
    color: #fff;
    background: linear-gradient(90deg, rgba(250, 219, 104, 1) 0%, rgba(242, 173, 72, 1) 100%, rgba(242, 172, 71, 1) 100%);
}

.input-group button.warn {
    color: #d0021b;
    background-color: #fff;
}

/* input-group */
.input-group input[type='text'] {
    padding: 0;
    height: 42px;
    width: 100%;
    border: none;
    border: 1px solid #999;
    box-shadow: 0;
    text-indent: 1rem;
}

.input-group input[type='text'],
.input-group input[type='password'],
.input-group textarea {
    padding: 0;
    width: 100%;
    border: 1px solid #999;
    text-indent: 1rem;
    color: #666;
    letter-spacing: 1px;
    font-size: 14px;
}

.input-group input[type='text'],
.input-group input[type='password'] {
    height: 42px;
}

.input-group textarea {
    text-indent: 0;
    padding: 10px 1rem;
    resize: none;
    overflow-y: visible;
}

.input-group .error-msg {
    position: absolute;
    color: #e51313;
    font-size: 12px;
    margin: 0 5px;
}

/* label input */
.input-with-label-group {
    padding-top: 24px;
}

.input-with-label-item {
    margin-bottom: 24px;
    position: relative;
}

.input-with-label-item label {
    color: #333;
}

.input-with-label-item input,
.input-with-label-item textarea {
    -webkit-appearance: none;
    border-radius: 0;
    color: #666;
    font-size: 14px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 6px;
}

.input-with-label-item span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 6px;
}

.input-with-label-item .addr-balance {
    color: red;
    font-size: 12px;
}

.input-with-label-item .addrs {
    color: #f8c562;
    z-index: 1;
}

.input-with-label-item .error-msg {
    position: absolute;
    color: #e51313;
    font-size: 12px;
    margin: 0 5px;
}

input[readonly] {
    border-bottom: none;
}

/* icon */
.msg-icon {
    width: 100px;
}

.success-icon {
    width: 60px;
}

/* addrs */
.addrs-item {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #ccc;
}

.addrs-item>* {
    height: 22px;
    line-height: 22px;
    color: #666;
    font-size: 14px;
}

.addrs-item .addrs-item-other {
    color: #ccc;
}

.addrs-item .addrs-item-name {
    margin-top: 5px;
}

.tx-item {
    margin: 15px 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
    box-shadow: 0px 0px 3px 1px rgba(29, 90, 163, .2);
}

.tx-item>* {
    margin: 0 4px;
}

.tx-item .tx-type {
    flex: 0;
}

.tx-item .tx-type img {
    height: 26px;
    width: auto;
}

.tx-item .tx-info {
    flex: 1;
}

.tx-item .tx-info>* {
    padding: 2px;
}

.tx-item .tx-value {
    flex: 1;
    text-align: right;
    word-break: break-all;
    font-size: 12px;
}

.send {
    color: #ed3f14;
}

.re {
    color: #1d5aa3;
}

/* confirm */
.popup-title {
    padding: 18px 0;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.confirm-info-container .pane {
    display: inline-block;
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
}

.confirm-info-container .cancel-button {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
}

.confirm-info-container .cancel-button img {
    width: 100%;
}

.confirm-info-container .confirm-info-button {
    margin: 10px 0 40px;
}

.confirm-info-container .confirm-info-table {
    border-collapse: collapse;
}

.confirm-info-container .confirm-info-item {
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.confirm-info-container .confirm-info-item td {
    padding: 14px 12px;
}

.confirm-info-container .confirm-info-item .confirm-info-title {
    word-break: keep-all;
    text-align: right;
    color: #999;
}

.confirm-info-container .confirm-info-item .confirm-info-content {
    word-break: break-all;
    color: #666;
}

/* cell-group */
.cell-group {
    font-size: 16px;
}

.cell-group .cell-item {
    display: flex;
    padding: 16px 10px;
    align-items: center;
}

.cell-group .cell-item .cell-logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.cell-group .cell-item .cell-logo img {
    width: 100%;
    height: 100%;
}

.cell-group .cell-item .cell-content {
    flex: 1;
    margin-right: 10px;
}

.cell-group .cell-item .cell-function {
    flex: 1;
    text-align: right;
}

/* van-tabbar */
.van-tabbar-item__icon {
    margin-bottom: 2px;
}

.van-tabbar-item__icon img {
    height: 20px;
}

/* Nav */
.van-nav-bar {
    height: 42px;
    line-height: 42px;
}

.van-nav-bar .van-icon {
    color: #333;
    vertical-align: middle;
    font-weight: bold;
}

.van-nav-bar__title {
    color: #333;
}

.van-hairline--bottom::after {
    border-bottom-width: 0;
}

.van-nav-bar__right {
    font-size: 16px;
    right: 0;
    padding: 0 15px;
}

.van-nav-bar__left {
    left: 0;
    padding: 0 15px;
}

.van-nav-bar__text {
    font-size: 16px;
    color: #333;
}

/* Checkbox */
.van-checkbox {
    display: flex;
    align-items: center;
}


#vote-vote .van-checkbox__icon--checked .van-icon,
#vote-votecancel .van-checkbox__icon--checked .van-icon {
    color: #fff;
    border-color: #1d5aa3;
    background-color: #1d5aa3;
}

/* vote cell */
#vote-vote .van-cell,
#vote-votecancel .van-cell {
    padding: 0 0;
}

#vote-vote .van-checkbox__icon--disabled.van-checkbox__icon--checked .van-icon,
#vote-votecancel .van-checkbox__icon--disabled.van-checkbox__icon--checked .van-icon {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
}

.van-checkbox__label {
    color: #666;
    font-size: 14px;
}

#vote-vote .van-checkbox__icon .van-icon,
#vote-votecancel .van-checkbox__icon .van-icon {
    width: 15px;
    height: 15px;
    top: 4px;
}

#vote-vote .van-checkbox__icon,
.van-checkbox__label,
#vote-votecancel .van-checkbox__icon,
.van-checkbox__label {
    height: auto;
    line-height: auto;
}

/* Dialog */
.van-dialog {
    width: 75%;
}

.van-button--large {
    height: 42px;
    line-height: 42px;
}

.van-dialog__confirm {
    color: #007aff;
}

.dialog-title {
    text-align: center;
    font-size: 18px;
    color: #030303;
    margin: 0 0 14px 0;
    font-weight: 600;
}

.dialog-password {
    width: 100%;
    padding: 10px 0 28px 0;
    text-align: center;
}

.dialog-password input {
    width: 80%;
    margin: 0;
    padding: 0;
    border: 1px solid #979797;
    height: 28px;
    text-indent: 1rem;
}

.dialog-msg-icon {
    padding: 0 0 15px 0;
}

.dialog-content {
    padding: 0 20px 15px;
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
    letter-spacing: 0;
    word-break: break-all;
}

.dialog-button {
    height: 45px;
    line-height: 43px;
}

/* tab */
.van-tabs__wrap--scrollable .van-tab {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#import-index .van-tabs__line {
    background-color: #1D5AA3;
    height: 4px;
    border-radius: 2px;
}

#import-index .van-tab--active {
    color: #1D5AA3;
}

#import-index .van-tabs--line .van-tabs__wrap {
    z-index: 0;
}

#news-index .van-tab {
    color: #999;
}

#news-index .van-tabs__line {
    background-color: #1D5AA3;
    height: 2px;
    border-radius: 1px;
}

#news-index .van-tab--active {
    color: #1D5AA3;
    font-weight: bold;
}

#news-index .van-hairline--top-bottom::after {
    border-width: 0 0;
}

#news-index .twoTab>.van-hairline--top-bottom {
    box-shadow: 0px 3px 6px -1px rgba(29, 90, 163, .23);
}

#news-index .oneTag>.van-tabs__content>.van-tab__pane {
    height: calc(100vh - 96px);
}

/* #news-index .twoTab .van-tab__pane {
    height: calc(100vh - 140px);
} */
#news-news .van-tabs--line,
#news-lbtc .van-tabs--line {
    padding-top: 32px;
}

#news-news .van-tabs--line .van-tabs__wrap,
#news-lbtc .van-tabs--line .van-tabs__wrap {
    height: 32px;
}

#news-news .van-tab,
#news-lbtc .van-tab {
    height: 32px;
    line-height: 32px;
}

/* tab page */
.van-tabbar-item--active {
    color: #1D5AA3;
}

/* swipe */
.van-swipe .van-swipe-item img {
    width: 100%;
    display: block;
    box-sizing: border-box;
    pointer-events: none;
}

.van-pull-refresh {
    min-height: 100vh;
}

.van-collapse-item__content {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}

.mint-loadmore-text {
    font-size: 12px;
}

/* vue-scroller */
._v-container>._v-content {
    padding-bottom: 48px;
}

#news-index ._v-container>._v-content {
    padding-top: 32px;
    padding-bottom: 0;
}

._v-container>._v-content>.loading-layer>.no-data-text {
    font-size: 12px;
}

/* News item css */
.news-item {
    margin-top: 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.news-item .item-img {
    padding-bottom: 41%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: #eeeeee;
}

.news-item .item-img .item-tag {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 12px;
    color: #fff;
    padding: 2px 8px;
}

.news-item .item-tittle {
    padding: 10px;
    line-height: 1.4;
}

.news-item .item-info {
    display: flex;
    padding: 4px 10px 10px;
    font-size: 12px;
    color: #999;
}

.news-item .item-info .info-time {
    flex: 1;
}

.news-item .item-info .info-author {
    flex: 1;
    text-align: right;
}

.ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

/* Article */ 
.detail-detail {
    -webkit-user-select: text;
    user-select: text;
    
}
.detail-detail p img {
    width: 100%;
}
.detail-detail ul {
    list-style: disc;
    margin-left: 20px;
}
.detail-detail ul li {
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
}